@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("./styles/colors.css");

body {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	background-image: url("./src/assets/background.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	scroll-behavior: smooth;
	overflow-x: hidden;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

section {
	padding: 80px 5%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
}

h2 {
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 2rem;
	color: var(--white);
	text-align: center;
}

/* General button styles */
.cta-button {
	display: inline-block;
	padding: 12px 25px;
	border-radius: 50px;
	font-weight: 600;
	font-size: 1rem;
	text-decoration: none;
	transition: all 0.3s ease;
	cursor: pointer;
}

.cta-button:first-child {
	background-color: var(--primary-color);
	color: var(--white);
	border: 2px solid transparent;
	margin-right: 15px;
}

.cta-button:last-child {
	background-color: var(--white);
	color: var(--primary-color);
	border: 2px solid var(--primary-color);
}

.portfolio-container {
	width: 100%;
	max-width: 1200px;
	max-height: 710vh;
	margin: 0 auto;
	position: relative;
	z-index: 100;
}
