.about-section {
	display: block;
	width: 100%;
	padding: 10px 0;
	top: -10vh;
}

.about_red {
	position: absolute;
	top: 10vh;
	left: -20vw;
	width: 35%;
	height: auto;
	z-index: 1;
}
.about_pink {
	position: absolute;
	top: 20vh;
	right: -20vw;
	width: 30%;
	height: auto;
	z-index: -1;
}

.about-main {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5%;
	width: 100%;
}

.about-section h2 {
	text-align: left;
	margin-bottom: 20px;
}

.about-title {
	font-size: 3.5rem;
	font-weight: 700;
	color: var(--dark);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-image img {
	border: 3px solid var(--dark);
	border-radius: 12px;
	display: block;
	max-width: 100%;
	height: auto;
}

.about-content {
	flex: 1;
	max-width: 600px;
	border-radius: 20px;
	padding: 40px;
}

.about-content h3 {
	font-size: 1.5rem;
	color: var(--primary-color);
	margin-bottom: 20px;
}

.about-content p {
	line-height: 1.7;
	margin-bottom: 20px;
}

.about-stats {
	display: flex;
	gap: 20px;
	margin-top: 30px;
}

.stat-box {
	background-color: var(--background-about);
	padding: 20px 30px;
	border-radius: 10px;
	border: 2px solid var(--primary-color);
	text-align: center;
	flex: 1;
}

.stat-box h4 {
	font-size: 1.5rem;
	margin-top: 0;
	color: var(--primary-color);
	margin-bottom: 5px;
}

.stat-box p {
	font-size: 0.9rem;
	margin: 0;
	color: var(--primary-color);
}
