.contact-section {
	display: flex;
	flex-direction: row;
	gap: 5%;
	align-items: center;
	justify-content: center;
}

.contact-info {
	flex: 1;
	max-width: 400px;
}

.contact-info h3 {
	font-size: 1.8rem;
	color: var(--primary-color);
	margin-bottom: 2rem;
}

.contact-info p {
	line-height: 1.6;
	margin-bottom: 20px;
}

.contact-details {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 30px;
}

.detail-item {
	display: flex;
	align-items: center;
	gap: 15px;
}

.detail-item svg {
	color: var(--primary-color);
	font-size: 2rem;
}

.detail-item p {
	margin: 0;
	font-size: 1.1rem;
}

.contact-form-container {
	flex: 1;
	max-width: 550px;
	background-color: var(--white);
	padding: 40px;
	border-radius: 10px;
	color: var(--background-dark);
}

.contact-form-container h3 {
	font-size: 1.8rem;
	color: var(--background-dark);
	margin-bottom: 20px;
}

.contact-form-container form {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.form-group {
	flex: 1;
	min-width: 45%;
}

.form-group.full-width {
	flex: 100%;
}

.contact-form-container label {
	display: block;
	font-size: 0.9rem;
	color: #777;
	margin-bottom: 5px;
}

.contact-form-container input,
.contact-form-container textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 1rem;
}

.contact-form-container textarea {
	resize: vertical;
	min-height: 120px;
}

.contact-form-container button {
	width: 100%;
	background-color: var(--primary-color);
	color: var(--white);
	border: none;
	padding: 15px;
	border-radius: 5px;
	font-size: 1.2rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.contact-form-container button:hover {
	background-color: #e67e22; /* A slightly darker primary color */
}
