.contact-container {
	display: flex;
	flex-direction: row;
	gap: 5%;
	align-items: center;
	justify-content: center;
}

.contact_purple {
	position: absolute;
	top: -10vh;
	left: -15vw;
	z-index: -5;
	width: 50%;
	height: auto;
} 

.contact_lightblue {
	position: absolute;
	bottom: 15vh;
	left: 22vw;
	z-index: 2;
	width: 110px;
	height: auto;
}

.contacts_blue {
	position: absolute;
	bottom: 5vh;
	left: 20vw;
	z-index: 2;
	width: 110px;
	height: auto;
}

.contact-section {
	display: block;
	top: -55vh;
}

.contact-title {
	font-size: 3.5rem;
	font-weight: 700;
	display: block;
	text-align: center;
	color: var(--dark);
	margin-bottom: 40px;
}

.contact-info {
	flex: 1;
	max-width: 400px;
}

.contact-info h3 {
	font-size: 1.8rem;
	color: var(--primary-color);
	margin-bottom: 2rem;
}

.contact-info p {
	line-height: 1.6;
	margin-bottom: 20px;
}

.contact-details {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 30px;
}

.detail-item {
	display: flex;
	align-items: center;
	gap: 15px;
}

.detail-item img {
	width: 70px;
	height: 70px;
}

.detail-item p {
	margin: 0;
	font-size: 1.1rem;
}

.detail-item span {
	margin: 0;
	color: var(--primary-color);
	font-size: 1.3rem;
	font-weight: 700;
}

.contact-form-container {
	flex: 1;
	max-width: 550px;
	background-color: var(--background-about);
	padding: 35px;
	border-radius: 20px;
	border: 3px solid var(--primary-color);
}

.contact-form-container h3 {
	font-size: 1.8rem;
	color: var(--primary-color);
	margin-bottom: 20px;
	margin-top: -1px;
}

.contact-form-container form {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.form-group {
	display: flex;
	flex: 1;
	gap: 15px;
	min-width: 45%;
}

.form-group.full-width {
	flex: 100%;
}

.contact-form-container input,
.contact-form-container textarea {
	width: 95%;
	padding: 10px;
	border: 2px solid var(--primary-color);
	border-radius: 10px;
	font-size: 1rem;
}

.contact-form-container textarea {
	resize: vertical;
	min-height: 120px;
}

.contact-form-container button {
	width: 100%;
	background-color: var(--primary-color);
	color: var(--white);
	border: none;
	padding: 15px;
	border-radius: 10px;
	font-size: 1.2rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.contact-form-container button:hover {
	background-color: #e67e22; /* A slightly darker primary color */
}
