.home-section {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	top: 0vh;
}

.home_blue {
	position: absolute;
	top: 50vh;
	left: -20vw;
	width: 50%;
	height: auto;
	z-index: -1;
}

.home_green {
	position: absolute;
	top: 20vh;
	left: 15vh;
	width: 20%;
	height: auto;
	z-index: -1;
}

.home_yellow {
	position: absolute;
	bottom: 25vh;
	right: 2vw;
	width: 15%;
	height: auto;
	z-index: -1;
}

.home_lightblue {
	position: absolute;
	top: 40vh;
	right: 3vw;
	width: 5%;
	height: auto;
	z-index: -1;
}
.home_purple {
	position: absolute;
	top: 10vh;
	right: -15vw;
	width: 50%;
	height: auto;
	z-index: -1;
}

.home-content .name {
	font-size: 5rem;
	font-weight: 700;
	color: var(--dark);
	margin-bottom: 0;
}

.home-content .title {
	font-size: 1.5rem;
	color: var(--dark);
	margin-top: 10px;
}

.home-content .introduction {
	max-width: 600px;
	margin: 20px auto 40px;
	line-height: 1.6;
}

.home-buttons {
	display: flex;
	justify-content: center;
}

.social-icons {
	margin-top: 40px;
}

.social-icons img {
	width: 60px;
	height: 60px;
	margin: 0 12px;
	vertical-align: middle;
}

.scroll-indicator {
	display: flex;
	justify-content: center;
	margin-top: 100px;
	position: static;
}
