.home-section {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	top: 0vh;
}

.home-content .name {
	font-size: 5rem;
	font-weight: 700;
	color: var(--dark);
	margin-bottom: 0;
}

.home-content .title {
	font-size: 1.5rem;
	color: var(--dark);
	margin-top: 10px;
}

.home-content .introduction {
	max-width: 600px;
	margin: 20px auto 40px;
	line-height: 1.6;
}

.home-buttons {
	display: flex;
	justify-content: center;
}

.social-icons {
	margin-top: 40px;
}

.social-icons img {
	width: 60px;
	height: 60px;
	margin: 0 12px;
	vertical-align: middle;
}

.scroll-indicator {
	display: flex;
	justify-content: center;
	margin-top: 100px; 
	position: static;
}
