.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 5%;
  z-index: 1000;
  backdrop-filter: blur(10px);
  background-color: rgba(18, 21, 28, 0.5);
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-left: 40px;
}

.navbar a {
  text-decoration: none;
  color: var(--light-text);
  font-weight: 600;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
  color: var(--primary-color);
}